@using OnlineLearningManagementSystemProject.ViewModel
@model List<NationalIDStaffNameViewModel>



@*<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>staff Name</th>
                <th>NationalId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model)
            {
                        <tr>
                                <td>@staff.staffname</td>
                                <td>@staff.nationalid</td>
                        </tr>
            }
        </tbody>
    </table>
</div>
*@









<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Styles Admin.css" />
    <link rel="stylesheet" href="~/css/Management.css" />
    <script src="https://kit.fontawesome.com/79be1594f8.js" crossorigin="anonymous"></script>

    <title>Management</title>
</head>

<body>

    <nav class="header" id="nav">
        <img src="~/images/logo2.png" alt="" class="logo" />
        <div class="navItems">
            <div>
                <i class="fa fa-solid fa-bookmark icons" id="icon1"></i>
                <a href="/Staff/GetStaffASNationaliId/" class="nav-link">Management</a>
            </div>
            <div>
                <i class="fa fa-solid fa-bookmark icons" id="icon2"></i>
                <a href="@Url.Action("GetstaffById", "Staff", new { id = ViewBag.StaffId })" class="nav-link">Profile</a>
            </div>
            <div>
                <a href="@Url.Action("Logout", "Account")" class="nav-link">Logout</a>
            </div>
        </div>
    </nav>

    <!-- <div class="header">

            <span class="admin-name">Mahmoud Mohamed</span>
            <span class="logout"><a href="#">Logout</a></span>
            <span class="Students">Students</span>
        </div> -->

    <div class="tab">
        <button class="tablinks" onclick="location.href= '/Student/GetStudentsASEnrollYear/@ViewBag.StaffId'" ;>
            <!-- <a href="./ManagementStudent.html"> -->
            Management Students
            <!-- </a> -->
        </button>
        <button class="tablinks" onclick="openCity(event, 'Management Staff')" id="defaultOpen">
            <!-- <a href="./ManagementStaff.html"> -->
            Management Staff
            <!-- </a> -->
        </button>
        <button class="tablinks" onclick="location.href= '/Course/Index/@ViewBag.StaffId'" ;>
            <!-- <a href="./ManagementCourse.html"> -->
            Management Courses
            <!-- </a> -->
        </button>
    </div>


    <div id="Management Staff" class="tabcontent">
        <!-- content -->

        <form action="~/Staff/SearchStaffs">
            <input type="search" name="name" value="@ViewBag.search" placeholder="Search Staff Name " />
        </form>

        <table class="table1">
            <tr>
                <th class="th1">Name</th>
                <th class="th1">National ID</th>
@*                <th class="th1">Number of Courses</th>
*@                <th class="th1">Action</th>
            </tr>

            @foreach (var Staff in Model)
            {
                 <tr>
                     <td class="td1">@Staff.staffname</td>
                    <td class="td-2">@Staff.nationalid</td>
                    <td class="td-3">
                <a href="@Url.Action("GetstaffById", "Staff", new { id = Staff.staffid })"><button class="btn-td3">Details</button></a>
                <a href="@Url.Action("update", "Staff", new { id = Staff.staffid })"><button class="btn-td3">Update</button></a>
                <a href="@Url.Action("GetCoursesStaffByAdmin", "StaffCourse", new { id = Staff.staffid })"><button class="btn-td3">Courses</button></a>
                <a href="@Url.Action("delete", "Staff", new { id = Staff.staffid })"><button class="btn-td3">Delete</button></a>
                 </td>
                     </tr>

            }

        </table>
        <br><br>
        <a href=@Url.Action("AddStaff", "Account")><button class="btn-addstudent">Add Staff</button></a>

    </div>
    <script src="~/js/Admin.js"></script>
</body>