@using OnlineLearningManagementSystemProject.ViewModel
@model List<StudentCourseViewModel1>



@*<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
                <tr>
                    <td>@course.CourseName</td>
                    <td>@course.CourseCode</td>
                    <td>
                              <form method="post" asp-action="GetCoursesStudentByAdmin">
                            <input type="hidden" name="stdid" value="@ViewBag.StudentId" />
                            <input type="hidden" name="courseId" value="@course.CourseId" />
                             <button type="submit" class="btn btn-primary">Delete</button>
    </form>
                    </td>
                </tr>
        }
    </tbody>
</table>
*@


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Courses</title>
    <link rel="stylesheet" href="~/css/Courses.css">
</head>
<body>

    <div class="header-add-student">
        <span class="add-student">Student Courses</span>
        <a href="@Url.Action("addcoursetostudent", "StudentCourse", new { id = ViewBag.StudentId })">
          <button class="btn-assign">Assign Course</button>
        </a>

    </div>

    <table>
        
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseName</td>
                    <td class="td-3">
                        <form method="post" asp-action="GetCoursesStudentByAdmin">
                            <input type="hidden" name="studentId" value="@ViewBag.StudentId" />
                            <input type="hidden" name="courseId" value="@course.CourseId" />
                            <button type="submit" class="btn-Delete">Delete</button>
                        </form>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>

</body>
